<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<beans>

		<bean name="battery" class="au.com.attra.Battery">
			<property name="name" value="AAA" />
			<property name="price">
				<value>10</value>
			</property>
			<property name="rechargeable" value="true" />
		</bean>

		<bean name="cd" class="au.com.attra.Disc">
			<property name="name" value="CD-R" />
			<property name="price">
				<value type="java.lang.Integer">10</value>
			</property>
			<property name="capacity">
				<value type="java.lang.Integer">700</value>
			</property>
		</bean>

		<bean name="dvd" class="au.com.attra.Disc">
			<property name="name" value="DVD-R" />
			<property name="price">
				<value type="java.lang.Integer">15</value>
			</property>
			<property name="capacity">
				<value type="java.lang.Integer">1024</value>
			</property>
		</bean>

		<bean lazy-init="true" name="shoppingCart" class="au.com.attra.ShoppingCart"
			scope="prototype" depends-on="cashier">
		</bean>


		<bean id="cashier" class="au.com.attra.Cashier" init-method="openFile"
			destroy-method="closeFile">
			<property name="fileName" value="checkout" />
			<property name="path" value="c:/Windows/Temp/cashier" />
		</bean>
	</beans>
</beans>
