<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="discountPropertyConfigurer"
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="location" value="classpath:discount.properties"></property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>

	<bean name="battery" class="au.com.attra.Battery">
		<property name="name" value="AA" />
		<property name="price">
			<value type="java.lang.Double">0.6</value>
		</property>
		<property name="rechargeable" value="true" />
		<property name="discount">
			<value type="java.lang.Double">
				${specialcustomer.discount:2.0}
			</value>
		</property>
	</bean>
	
	
	
</beans>
