<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="datePrefixGenerator" class="au.com.attra.DatePrefixGenerator">
		<property name="pattern" value="yyyyMMdd" />
	</bean>

	<bean name="sequenceGenerator" class="au.com.attra.SequenceGenerator">
		<property name="prefixGenerator">
			<ref bean="datePrefixGenerator" /> <!-- To specify the bean is in the same xml file use <ref local="datePrefixGenerator"> -->
		</property>
		<property name="suffix" value="A" />
		<property name="initial" value="100000" />
	</bean>

</beans>
