<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-3.2.xsd">


	<bean name="aaa"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="au.com.attra.Product.AAA" />
	</bean>

	<bean name="cdr"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField" value="au.com.attra.Product.CDR" />
	</bean>

	<!-- Other way to inject static fields in spring is using util-constant 
		tag -->
<!-- 	<util:constant id="aaa" static-field="au.com.attra.Product.AAA" />
	<util:constant id="cdr" static-field="au.com.attra.Product.CDR" /> -->

</beans>
